*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0e1538;
}
.wrapper{
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  overflow: hidden;
}
.wrapper h2{
  color: #fff;
  text-shadow: 2px 2px white;
  font-size: 4em;
  z-index: 2;
}
.wrapper::before{
  content: '';
  position: absolute;
  width: 280px;
  height: 580px;
  background: linear-gradient(#00ccff, #d500f9);
  animation: rotate 4s linear infinite;
}
.wrapper::after{
  content: '';
  position: absolute;
  background: #0e1538;
  inset: 4px;
  border-radius: 19px;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}